@import url("http://fonts.cdnfonts.com/css/operator-mono");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.input-codeeditor {
  background-color: rgba(20, 20, 20, 0.397);
  color: rgb(236, 236, 236);
  font-family: "Operator Mono", sans-serif;
  border: none;
  font-size: 1em;
}

.colored {
  font-family: "Operator Mono", sans-serif;
  background-color: #4a3b2d;
  color: white;
  border-radius: 5px;
}

body {
  background-color: #292121;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.coord:last-child {
  margin-left: 10px;
}
